<div class="Book_detail">
    <img src="{{books.image}}" alt="ảnh">
    <div class="book_text">
        <h2 class="book_name">{{books.name}}</h2>
        <div class="book_text_con">
            <div class="info_nxb">
                <h4>Nhà cung cấp: {{books.nhacungcap}}</h4>
                <h4>Nhà xuất bản: {{books.nhaXB}}</h4>
                <h4>Bộ: {{books.bo}}</h4>
            </div>
            <div class="info_tg">
                <h4>Tác giả: {{books.tacgia}}</h4>
                <h4>Hình thức: {{books.loaibia}}</h4>
            </div>

        </div>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <p>(Không đánh giá)</p>
        <h1>{{books.giaban}} đ</h1>
        <h4>Thời gian giao hàng</h4>
        <h4>Chính sách đổi trả</h4>
        <h3 style="display: inline-block;">Số lượng</h3>
        <div style="display: inline-block;" class="sl">
            <i class="fa-solid fa-plus"></i>
            <h4 style="display: inline-block;">1</h4>
            <i class="fa-solid fa-minus"></i>
        </div>
    </div>

</div>